<!-- views/posts/index.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container post post-index">
   <% include ./partials/header ﻿%>

   <div class="buttons">
    <% if(user != null) { %>
    <a class="btn btn-default" href="/posts/new">New</a>
    <% } %>
   </div>

   <table class="table table-striped posts">
    <thead>
     <tr>
      <th class="col-md-6">Title</th>
      <th class="col-md-3">Author</th>
      <th class="col-md-2">Date</th>
     </tr>
    </thead>
    <tbody>
     <% if(posts == null || posts.length == 0){ %>
      <tr>
       <td class="noData" colspan=100> There is no data to show :( </td>
      </tr>
     <% } %>
     <% posts.forEach(function(post) { %>
      <tr>
       <td class="col-md-6">
        <a href="/posts/<%= post._id %>?page=<%= page %>"><div><%= post.title %></div></a>
       </td>
       <td class="col-md-3">
        <a href="/posts/<%= post._id %>?page=<%= page %>"><div><%= post.author.name %></div></a>
       </td>
       <td class="col-md-2">
        <a href="/posts/<%= post._id %>?page=<%= page %>"><div><%= post.createdDate %></div></a>
       </td>
      </tr>
     <% }) %>
    </tbody>
   </table>
   <div class="col-md-12" align="center">
   <ul class="pagination pagination-sm">
   <% var offset = 3; %>
   <% for(i=1;i<=maxPage;i++){ %>
    <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))){ %>
     <% if(i != page){ %>
      <li><a href="/posts?page=<%= i %>"> <%= i %> </a></li>
     <% } else { %>
        <li class="active"><a href="/posts?page=<%= i %>"> <%= i %> </a></li>
     <% } %>
    <% } else if(i == offset+1 || i == maxPage-offset){ %>
      <li>...</li>
     <% } %>
    <%}%>
   </ul>
 </div>
   <div class="counter">
     <% if(counter) { %>
       Total <%= counter.totalCount %> visitors<br>
       {today:<%= counter.todayCount %>}
     <% } %>
   </div>
  </div> <!-- container end -->

 </body>
</html>
